{% extends "food/base.html" %}
{% block body %}
<div class="container">
    <form method="POST" class="form">
        {% csrf_token %}
        <h1>Registration Form</h1>
        <div class="mb-3">
            <label for="username" class="form-label">{{form.username.label_tag}}</label>
            {{form.username}}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">{{form.email.label_tag}}</label>
            {{form.email}}
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">{{form.password1.label_tag}}</label>
            {{form.password1}}
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">{{form.password2.label_tag}}</label>
            {{form.password2}}
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div>
{% endblock%}
<!-- <form method="POST" class="form">
    {{form}}
<button type="submit">Signup</button>
</form> -->

